@{
}

@model List<NewMovie>
<table>
    <thead class="table table-bordered">
    <tr class="fw-bolder">
        <td>Title</td>
        <td>Year</td>
        <td>Category</td>
        <td>Director</td>
        <td>Rating</td>
        <td>Edited</td>
        <td>LentTo</td>
        <td>CopiedToPlex</td>
        <td>Notes</td>
    </tr>
    </thead>
    
    @foreach (var app in Model)
    {
        <tbody>
        <tr>
            <td>@app.Title</td>
            <td>@app.Year</td>
            <td>@app.CategoryId</td>
            <td>@app.Director</td>
            <td>@app.Rating</td>
            <td>@app.Edited</td>
            <td>@app.LentTo</td>
            <td>@app.CopiedToPlex</td>
            <td>@app.Notes</td>
        </tr>
        </tbody>
    }
</table>